.container {
  background-color: antiquewhite;
  width: 800px;
  font-family: "Calibri", sans-serif;
  box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.container:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

.pia {
  font-weight: bold;
  text-align: right;
  height: fit-content;
  margin-bottom: 0;
  border-bottom: 3px solid rgb(155, 155, 238);
}

tr, .ajanlatunk {
  margin: 0 5px;
}

.table {
  height: fit-content;
  vertical-align: middle;
}

.place {
  background-color: #ededed;
  text-align: right;
  height: fit-content;
  vertical-align: middle;
}

#expiryDate,
.datetime-right {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th[scope="col"] {
  background-color: rgb(204, 204, 204);
  width: 33%;
}

th, td {
  padding: 8px;
}

th {
  text-align: center;
}

.head {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#auto,
#ertekestito,
#db,
#brutto_ar,
#brutto_ar2,
#ido,
#ido2,
#ido3,
#db2,
#brutto_ar3,
#db3{
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;

  ::after {
    content: "";
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: red;
  }
}
#ertekestito {
  font-weight: 700;
}
.head td {
  text-align: left;
}

.car-image {
  text-align: center;
  padding: 0;
}
img#autokep {
  width: 320px;
  height: 200px;
  margin: 0;
  padding: 0;
}
.text {
  text-align: right;
  font-size: small;
}

.p161 {
  padding: 0 8px;
}

#auto {
  width: 200px;
}

#autokep {
  width: 200px;
  height: 200px;
}

#tabla input,
#tabla select {
  width: 100%;
}
.x54a {
  width: 35px;
}

.x68 {
  height: fit-content;
  text-align: center;
  font-weight: bold;
}

.x68a {
  width: 100px;
}

#megnevezes,
#megnevezes2{
  text-align: center;
  font-weight: bold;
  width: 150px;
  border: none;
}

#megnevezes3 {
  width: 100%;
  text-align: left;
  border: none;
}

.x70 {
  height: 150px;
  width: 180px;
  text-align: left;
  vertical-align: center;
}
td.x70 {
  text-align: left;
  vertical-align: center;
  height: 180px;
}
.felni {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.x45,
.x54,
.x31 {
  width: auto;
  min-width: 50px;
  height: 4px;
}
.x45a {
  width: 224px;
  height: 4px;
}

.table {
  table-layout: auto;
  width: 100%;
}

#brutto_ar,
#brutto_ar2,
#brutto_ar3 {
  width: 110px;
  border: none;
}

#db,
#db2,
#db3{
  width: 40px;
}

.hiba {
  color: red;
  border: 1px solid red;
}

#ido,
#ido2,
#ido3{
  width: 35px;
}

.y11 {
  width: 275px;
}

#kerekszereles {
  width: 100%;
  border: none;
}

#munkadij {
  width: 150%;
  font-weight: 700;
  text-align: right;
}

td.autora {
  width: 400px;
}

#osszesen_1,
#osszesen_2,
#osszesen_3 {
  font-weight: 700;
  text-align: right;
  width: 80px;
}

.x48,
.x49 {
  border-bottom: 3px solid black;
}

.place1 {
  font-size: large;
  font-weight: bold;
}

.red {
  color: red;
  text-align: center;
}

#thanksName {
  font-weight: bold;
  text-align: center;
}

.thName {
  width: 30%;
}

#thanksTelefonszam {
  width: 20%;
}

#oneVar {
  border-bottom: 1px solid rgb(216, 205, 205);
}

#x80,
#x90,
#x100{
  border: none;
  text-align: center;
  font-weight: bold;
}

#vono {
  text-align: center;
}
#x71,
#x72 {
  border: 1px solid rgb(216, 205, 205);
  height: 1px;
  padding: 2px;
}

#kepCella,
#kepCella2,
#kepCella3 {
  width: 180px;
  height: 160px;
  overflow: hidden;
  cursor:pointer;
}
